# Ignore large files
*.csv
data/cleaned_traffic_accidents.csv
data/US_Accidents_March23.csv

# Ignore Anaconda projects folder
anaconda_projects/db/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
